.footer {
  background-color: rgb(41, 41, 41);
  padding: 40px 100px;
  text-align: center;
  //   display: flex;

  .footerInst {
    color: rgba(67, 190, 29, 0.497);
    margin-right: 50px;
    transition: .5s;

    &:hover {
      color: rgb(199, 32, 132);
    }
  }
  .footerTelegram {
    color: rgba(67, 190, 29, 0.497);
    margin-right: 50px;
    transition: .5s;

    &:hover {
      color: rgb(32, 140, 199);
    }
  }

  .footerGitHub {
    color: rgba(67, 190, 29, 0.497);
    transition: .5s;

    &:hover {
      color: rgb(199, 152, 32);
    }
  }
  @media screen and (max-width: 800px) {
      padding: 40px 0;
      text-align: center;
      .footerInst,
      .footerTelegram {
        margin-right: 20px;
      }
  }
}
